* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #000;
}
body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
.container {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
  display: flex;
}

.image {
}

.intro {
  width: 500px;
  font-size: 2rem;
}

.button {
  padding: 1rem;
  width: 50rem;
  color: #fff;
  background: green;
  outline: none;
  border: 1px solid green;
  font-size: 2rem;
  text-align: center;
  vertical-align: center;
  height: 22rem;
  font-size: 5rem;
  cursor: pointer;
}

.button:hover {
  background: darkgreen;
}
